<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        var SessionToken = window["app-bridge"].actions.SessionToken
        var app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.Action.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });

        var fetchProducts = function() {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch("/orders", { headers })
            .then(response => response.json())
            .then(data => {
              var orders = data.orders;

              if (orders === undefined || orders.length == 0) {
                document.getElementById("orders").innerHTML = "<br>No orders to display.";
              } else {
                var list = "";
                orders.forEach((order) => {
                  const tableRow = document.querySelectorAll('.js-tr');
                  
                });
              }
            });
        }();
      });
    </script>
  </head>
  <body>
    <%= render :partial => 'orders/form', :locals => {orders: @orders, shop_domain: @shop_origin,script_check_box: @script_check_box, products: @products,shop: @shop, variants: @variants } %>
  </body>
</html>
