<!DOCTYPE html>
<html>

<head>
	<title>furniture</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="	">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
		crossorigin="anonymous" />

</head>

<body>
	<div class="main-page">
		<div class="container">
			<div class="product-component">
				<div class="product-list">
					<div class="pr-item d-flex">
						<div class="gallery-left">
							<div class="d-flex">
								<div class="pr-small-img">
									<img src="images/bed.png" alt="no-image">
								</div>
								<div>
									<h4 class="product-name">Product Name</h4>
									<h6 class="product-detail">Variable details</h6>
								</div>
							</div>
							<div class="up-btns">
								<a href="" class="up-more">Upload More</a>
								<a href="" class="up-more remove-btn">Remove all</a>
							</div>
							<a href="" class="submit-btn">Submit</a>
						</div>
						<div class="gallery-right px-4 g-scrol-bar g-righth-scroll">
							<ul class="gallery-list">
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
								<li class="image-item">
									<img src="" alt="" class="pr-main-img">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="product-list">
					<div class="pr-item d-flex">
						<div class="gallery-left right-padding">
							<div class="d-flex">
								<div class="pr-small-img">
									<img src="images/bed.png" alt="no-image">
								</div>
								<div>
									<h4 class="product-name">Product Name</h4>
									<h6 class="product-detail">Variable details</h6>
								</div>
							</div>
							
							<a href="" class="submit-btn upload-btn my-2">Upload</a>
							<a href="" class="submit-btn">Submit</a>
						</div>
						<div class="gallery-right px-4 ">
							<div>
								<div class="single-image">
									<img src="" alt="">
									<a href=""><img src="images/Group 4.svg" alt="" class="cross-single"></a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="product-list">
					<div class="pr-item d-flex justify-content-between align-items-center">
						<div class="pr-item-left ">
							<div class="d-flex">
								<div class="pr-small-img">
									<img src="images/bed.png" alt="no-image">
								</div>
								<div>
									<h4 class="product-name">Product Name</h4>
									<h6 class="product-detail">Variable details</h6>
								</div>
							</div>
							<div class="custom-check">
								<label class="contain">Fill in the info same as above
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="pr-item-right d-flex">
							<div class="up-images mr-5">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Upload</span>
									</div>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01">
										<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
									</div>
								</div>
								<div class="img-inner text-center">
									<div class="icon-top-border">
										<img src="images/Icon feather-image.svg" alt="" class="inner-icon">
									</div>
									<p class="up-image-text">Upload Images</p>
									<p class="uplaod-upto-text">up to 1896 Photos </p>
									<p class="image-cal-text">960 x 540,270 kb each</p>
								</div>
							</div>
							<div class="up-images up-video">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Upload</span>
									</div>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01">
										<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
									</div>
								</div>
								<div class="img-inner text-center">
									<div class="icon-top-border light-border">
										<img src="images/Icon feather-image.svg" alt="" class="inner-icon">
									</div>
									<p class="up-image-text">Upload video</p>
									<p class="uplaod-upto-text">up to 1896 Photos </p>
									<p class="image-cal-text">960 x 540,270 kb each</p>
								</div>
							</div>
						</div>
						<div class="separater"></div>
					</div>
				</div>
				<div class="product-list">
					<div class="pr-item d-flex justify-content-between align-items-center">
						<div class="pr-item-left ">
							<div class="d-flex">
								<div class="pr-small-img">
									<img src="images/bed.png" alt="no-image">
								</div>
								<div>
									<h4 class="product-name">Product Name</h4>
									<h6 class="product-detail">Variable details</h6>
								</div>
							</div>
							<div class="custom-check">
								<label class="contain">Fill in the info same as above
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<div class="pr-item-right d-flex">
							<div class="up-images mr-5">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Upload</span>
									</div>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01">
										<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
									</div>
								</div>
								<div class="img-inner text-center">
									<div class="icon-top-border">
										<img src="images/Icon feather-image.svg" alt="" class="inner-icon">
									</div>
									<p class="up-image-text">Upload Images</p>
									<p class="uplaod-upto-text">up to 1896 Photos </p>
									<p class="image-cal-text">960 x 540,270 kb each</p>
								</div>
							</div>
							<div class="up-images up-video">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Upload</span>
									</div>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01">
										<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
									</div>
								</div>
								<div class="img-inner text-center">
									<div class="icon-top-border light-border">
										<img src="images/Icon feather-image.svg" alt="" class="inner-icon">
									</div>
									<p class="up-image-text">Upload video</p>
									<p class="uplaod-upto-text">up to 1896 Photos </p>
									<p class="image-cal-text">960 x 540,270 kb each</p>
								</div>
							</div>
						</div>
						<div class="separater"></div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>



</body>

</html>