<body style="overflow: hidden;">
  <p class="font-weight-bold">Ready to upload to your expressio box now?</p>
  <p>Great! Instructions are below and it’s a simple process!</p> 
  <p class="font-weight-bold">Not quite ready to upload yet?</p>
  <p>No problem, we sent you an email with a link back to this page. Come back when you’re ready!<p> 
</body>