<img src="https://d3k81ch9hvuctc.cloudfront.net/company/TwDVwr/images/827ec129-66a6-415f-8a02-16e860d83cdc.png" style="display:block;outline:none;text-decoration:none;height:auto;background-color:transparent;margin-left: auto;margin-right: auto;"/>
<h4 style="text-align: center;margin-top: 45px;"><%= @msg %></h4>