/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 .direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}


.content-box{
  background: #fff;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 5px;
  color: #545454;
}

input[type=file]{
  display: none;
}


.delete{
  display: none;
}

.delete_vid{
  display: flex;
}



.product-component {
	padding: 10px 0;
	max-width: 660px;
	margin: 0 auto;
	position: relative;
  padding-bottom: 0;
}

.pr-item {
	padding: 10px;
}
.pr-small-img {
	background-color: #ccc;
	width: 63px;
	height: 63px;
	border-radius: 8px;
	margin-right: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
}
.pr-small-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.up-images {
	background-color: #A1652F29;
	width: 150px;
	height: 150px;
	border-radius: 6px;
	border: 1px solid #a1642f0d;
	overflow: hidden;
	position: relative;
}
.up-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pr-item-right {
	position: relative;
	margin-right: 20px;
}
.separater {
	width: 1px;
    height: 142px;
    border-left: 1px dotted #7A5E46; 
    position: absolute;
    right: 187px;
	opacity: 0.22;
	
}
.up-images .input-group{
	width: 100%;
    height: 100%;
    opacity: 0;
}
.up-images .custom-file {
	height: 100% !important;
}
.up-images .custom-file-label {
	  width: 100%;
    height: 100%
}
.up-images .input-group-prepend {
	width: 0;
}
.img-inner {
	position: absolute;
  top: 0;
	pointer-events: none;
	width: 100%;
}
.img-inner .inner-icon {
	width: 20px !important;
    height: 20px !important;
	margin-top: 20px;
}
.uplaod-upto-text {
	font-size: 14px;
	margin-bottom: 8px;
	color: #7A5E46;
}
.image-cal-text {
	font-size: 14px;
	color: #7A5E46;
	font-weight: 600;
	margin-bottom: 0;
}
.icon-top-border {
	border-top: 3px solid #7A5E466B;
    width: 20px;
    margin: 0 auto;
}
.product-name {
	font-size: 20px;
	color: black;
}
.product-detail {
	font-size: 18px;
	color: #8F8F8F;
}
.up-image-text {
	color: #7A5E46;
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: 8px;
}
.icon-top-border.light-border {
	border-top: 3px solid #7a5e462e;
}
/* ================================================= */
.image-gallery-block {
	border: 1px solid #ccc;
	padding: 50px;
	border-radius: 26px;
	margin-top: 20px;
	background: #cccccc26;  
}
.img-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}
.g-image img{
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 5px;   
}
/*========================================================*/
.contain {
	display: block;
	position: relative;
	padding-left: 9px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #7A5E46;
  }
  
  /* Hide the browser's default checkbox */
  .contain input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	height: 18px;
	width: 22px;
	background-color: #fff;
	border: 1px solid #7A5E46;
	border-radius: 6px;
  }
  
  /* On mouse-over, add a grey background color */
  .contain:hover input ~ .checkmark {
	/* background-color: #ccc; */
  }
  
  /* When the checkbox is checked, add a blue background */
  .contain input:checked ~ .checkmark {
	background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .contain input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .contain .checkmark:after {
	left: 8px;
    top: 3px;
    width: 5px;
    height: 13px;
    border: 1px solid #7A5E46;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .custom-check {
	  position: absolute;
    bottom: 0px;
		display: flex;
		margin-top: 26px;
  }
	.custom-check .checkmark {
		height: 21px;
	}
  .product-list {
		padding-bottom: 20px;
   	position: relative;
		padding-top: 25px;
  }
  .gallery-left {
	padding: 0 25px;
	border-right: 1px solid #7a5e462c;
  }
	.up-more{
		width: 100%;
		text-decoration: none !important;
		background-color: #7A5E4630;
		text-align: center;
		padding: 8px;
		font-size: 14px;
		color: #7A5E46;
		margin: 10px 0;
		border-radius: 8px;
		padding-left: 10px;
		padding-right: 10px;
	}
  .up-more-image {
		height: 37px;
		width: 100%;
		text-decoration: none !important;
		background-color: #7A5E4630;
		text-align: center;
		padding-top: 6px;
		font-size: 16px;
		color: #7A5E46;
		margin: 10px 0;
		border-radius: 8px;
		padding-left: 10px;
		padding-right: 10px;
  }
	.up-more-video {
		height: 37px;
		width: 100%;
		text-decoration: none !important;
		background-color: #7A5E4630;
		text-align: center;
		padding-top: 6px;
		font-size: 16px;
		color: #7A5E46;
		margin: 10px 0;
		border-radius: 8px;
		}
  .up-btns {
		display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
	.video-up-btns{
		display: block;

	}
  .submit-btn {
	  background-color: #B8DEB96E;
    width: 100%;
    // display: flex !important;
		display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #2C642E;
    text-decoration: none !important;
    font-size: 16px;
		padding: 8px;
		border: 0;
  }
	.submit-btn:hover {
		color: #2C642E;
	}
  .image-item {
		background-color: #A1652F29;
		width: 54px;
		height: 52px;
		border-radius: 7px;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
  }
  .image-item .cross {
		position: absolute;
		right: 3px;
    top: 3px;
  }
  .gallery-right {
	flex: 1;
   
  }
  .gallery-list {
		// display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // max-width: 323px;
    // margin-right: 0;
		padding-left: 0px;

  }
  .submit-btn.upload-btn {
		width: 100%;
		text-decoration: none !important;
		background-color: #7A5E4630;
		text-align: center;
		padding: 8px;
		font-size: 14px;
		color: #7A5E46;
		margin: 10px 0;
		border-radius: 8px;
		padding-left: 10px;
		padding-right: 10px;
  }
	.upload-video
	{
		display: flex;
    line-height: normal;
    height: 37px
	}
  .gallery-left.right-padding {
		padding-right: 40px !important;
  }
  .single-image {
		background-color: #A1652F29;
    max-width: 210px;
    height: 120px;
    margin: 15px auto;
    border-radius: 8px;
  }
  .g-righth-scroll {
		width: 100%;
    height: 170px;
    overflow-y: auto;
  }

	.g-scroll {
		  width: 300%;
			height: 250px;
			overflow-y: auto;
		}
  .single-image {
	position: relative;
  }
  .cross-single {
	  position: absolute;
	  right: 8px;
    top: 20px;
  }
  .remove-btn {
	background-color: #9F4A4A30;
	color: #9F4A4A !important;
	width: 100%;
	text-decoration: none !important;
	text-align: center;
	padding: 8px;
	font-size: 14px;
	margin: 10px 0;
	border-radius: 8px;
  }
  /* ======scroll-bar=================== */
  /* width */
.g-scrol-bar::-webkit-scrollbar {
	width: 9px;
  }
  
  /* Track */
  .g-scrol-bar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 4px #7A5E4633; 
	border-radius: 10px;
  }
   
  /* Handle */
  .g-scrol-bar::-webkit-scrollbar-thumb {
	background: #7A5E466B; 
	border-radius: 4px;
  }
  
  /* Handle on hover */
  .g-scrol-bar::-webkit-scrollbar-thumb:hover {
	background: #7A5E4633; 
  }
@media only screen and (max-width: 765px) {
	.pr-item-left {
		margin-bottom: 10px;
	}
	.up-images {
		width: 115px;
		height: 130px;
	}
	.up-images.mr-5 {
		margin-right: 20px !important;
	}
	.separater {
		display: none;
	}
	.img-inner {
		zoom: .8;
		width: 100%;
	}
	.custom-check {
		position: inherit;
		margin-top: 26px;
	}
	.gallery-left {
		border: 0;
	}
	.gallery-left.right-padding {
		padding-right: 25px !important;
	}
	.gallery-list {
		margin-top: 10px;
		height: 200px;
	}
	.submit-btn {
		margin-bottom: 10px;
	}

}
@media only screen and (max-width: 500px) 
{
	.pr-item {
		flex-direction: column-reverse;
		position: relative;
	
	}
	.pr-item-left {
		width: 100%;
	}
	.pr-item.align-items-center {
		align-items: start !important;
	}
	.icon-top-border {
		border-top: none;
	}
	.pr-item-right {
		flex-direction: column;
		width: 100%;
		padding-top: 70px;
	}
	.up-images.mr-5 {
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 20px;
	}
	.right-border {
		left: inherit !important;
    top: 120px;
	}
	.up-images {
		height: 110px !important;
	}
	.up-images.up-video {
		width: 100%;
	}
	.img-inner {
		display: flex;
    justify-content: space-between;
    width: 100%;
		height: 100%;
    align-items: center;
		zoom: inherit !important;
		padding: 20px;
	}
	.image-cal-text {
		margin-bottom: 0;
		font-weight: 700;
	}
	.product-list {
		padding-top: 0px;
	}
	.up-btns {
		display: flex;
    width: 100%;
	}
	.cross-single {
    right: 31px;
	}
	.video-style
	{
		width: 100%;
	}
	.video-attributes{
		width: 100% !important;
		// height: 100% !important;
	}
	.preview-video-style{
		margin-top: 66px !important;
		margin-right: 0px !important;
		padding: 0 20px;
	}
	.existing-video{
		width: 100% !important;
		height: 100% !important;
		margin-bottom: 0px !important;
		padding-top: 135px;
	}
	.icon-top-border.light-border {
		border: none;
	}
	.next-page-left {
		border-right: none !important;
		padding-left: 0;
		padding-right: 0;
	}
	.gallery-right {
		margin-top: 63px;
	}
	.pr-top-content{
		position: absolute;
    top: 0;
	}

	.btn-rem-padding-top{
		padding-top: 0;
	}

	.btn-add-padding-top{
		padding-top: 70px;
	}
	.gallery-list{
		height: 130px !important;
	}
	.custom-check {
		margin-top: 15px !important;
	}
	#loader {
		top: 47% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
	}
}


	.container{
		max-width: 600px;
	}


 .justify-content-between{
	 justify-content: space-between !important;
  }

 .align-items-center{
	 align-items: center !important;
  }


 .d-flex{
	 display: flex !important;
  }

 .hide{
	 display: none;
  }

.show{
	display: block;
}


// ==============Table-CSS================ 
.datail-table {
	padding: 20px;
	thead {
		background: #ccc;
		th {
			padding: 1.75rem;
		}
	}
}
.datail-table {
	.table {
		th {
			vertical-align: middle;
			padding: 1.75rem;
		}
		td {
			vertical-align: middle;
			padding: 1rem 1.75rem;
		}
	}
}
.product-img {
	img , video{
		width: 50px;
		height: 50px;
		border-radius: 5px;
		object-fit: cover;

	}
	
}
.link-tag:hover{
	color: black;
	text-decoration: none;
}
.link-tag {
	background: #7a5e4617;
	padding: 10px;
	border-radius: 6px;
	color: black;
	text-decoration: none;
	font-size: 14px;
	text-decoration: none;
}
.gallery-item {
	background: black;
	width: 100px;
	height: 100px;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.gallery-block {
	display: flex;
	flex-wrap: wrap;
}
.pr-main-img {
	border-radius: 5px;
	margin-bottom: 20px;
	object-fit: cover;
}
.gallery-scroll {
	width: 100%;
	height: 400px;
	overflow-y: auto;
}

.right-color-image{
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
	height: 54px;
	width: 53px;

}
.datail-table .table-hover tbody tr:hover {
	background-color: #cccccc1f;
}

.alert-message {
  padding: 0px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
}
.alert {
	position: relative;
	padding: 4px 10px;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	font-size: 12px;
	margin: 0 20px 0 20px;
}
.success-message {
  padding: 0px;
  background-color: green; /* Red */
  color: white;
  margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
}
.flex-1 {
	flex: 1;
}
#preview {
	display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
		// justify-content: space-between;
}

.next-page-left{
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dotted #7a5e4679;
}

.loader{
	height: 17px
}

hr{
	margin-top: 8rem;
	border-color: #7A5E464D;
}

.image-cross
{
	position: absolute;
	right: 12px;
	top: -2px;
}
.back-btn {
	font-size: 16px;
}
.download-btn {
	background: #ccc;
	border: 0;
	padding: 10px 15px;
	border-radius: 7px;
	letter-spacing: 1.2px;
}
.relative {
	position: relative;
}

.right-border{
	border: 1px dashed  #7a5e4679;
	position: relative;
	left: 125px;
}

.border-padding{
	padding-left: 20px;
	padding-right: 20px;
}

.video-attributes{
	width: 200px;
	height: 150px;
}

.preview-video-style{
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.existing-video{
	width: 50px;
	height: 50px;
}

.no-order-text{
	align-items: center;
	text-align: center;
	height: 400px;
	display: flex;
	justify-content: center;
}
.no-order-text p {
	font-size: 20px;
	font-weight: 800;
}

.orders-header{
	padding: 20px;

}
.navbar-text {
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 10px;
	/* border-bottom: 2px solid #000; */
	margin-bottom: 40px;
	background: #cccccc57;
	width: 100%;
	padding: 20px;
}

.search-field{
	max-width: 400px;
	width: 100%;
}

.search-field input{
	height: 54px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 0 36px 0 15px;
	color: #000000ba;
}
.search-field input:focus {
	box-shadow: none;
	outline: #ccc;
}
// .search-field span {
// 	position: absolute;
//     right: 19px;
//     top: 15px;
//     display: block;
//     height: 100%;
// }
.search-field span a {
	font-size: 22px;
	color: #00000091;
	text-decoration: none;
	position: absolute;
	top: 17px;
	line-height: 16px;
	right: 15px;
}
.search-button{
	font-size: 18px;
	padding: 8px 30px;
	border-radius: 7px;
	margin-left: 12px;
	background-color: #5d6ac4;
	border: 1px solid #5d6ac4;
	color: #fff;
}
.search-button:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	background-color: #5d6ac4;
}

.digg_pagination {
  cursor: default;
	padding: 30px 0;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; 
}

.pagination {
	justify-content: center;
}

#loader {
  display: none;
  position: fixed;
  top: 89px;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 33px;
  background: rgba(0,0,0,0.75) no-repeat center center;
  z-index: 10000;
}

@media (orientation: landscape)
{
	.video {
		object-fit: cover;
	}
}

@media (orientation: portrait)
{
	.video {
		object-fit: cover;
	}
}

.video-orientation {
	max-height: 100vh;
	max-width: 100vw;
	width: 100%;
}